/* cook creek main css */

    * {
        font-family: 'M PLUS 1p', sans-serif;
        margin: 0;
        /* font-family: 'Quicksand', sans-serif; */
    }

    .container {
        padding: 10px;  
    }

    .footer {
        min-height: 150px;
        background-color: rgb(217, 216, 216);
        grid-column:span 2;
    }


/* header nav styling */

    .logo-container {
        margin: 0;
    }

    .logo {
        height: 75px;
    }

    .header {
        /* background-color: rgb(238, 238, 231);   */
        font-weight: 400;   
        grid-column: span 2;
    }

    .nav-container {
        padding: 10px 20px 0 10px;
    }

    .nav-container, ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .nav-main, ul {
        list-style: none;
    }

    .nav-main, a, a:visited {
        text-decoration: none;
        color: #6a4700;
        transition: .5s ease-in-out;
    }

    .nav-main, a:hover {
        color: #0c0c0c;
    }

    .nav-toggle {
        display: none;
        font-size: 35px;
    }

/* body styles - home page */

    .grid-it-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .hero {
        align-items: center;
        background-image: url('../images/ineedahero.jpeg');
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        grid-column:span 2;
        height: 100vh;  /* let's try full viewport height for now */
    }

    .quote {
        /* font-family: 'Bad Script', cursive; */
        font-style: italic;
        font-size: 25px;
        color: black;
        font-weight: 300;
    }
    
    .quote-box {
        padding: 60px;
        width: 300px;
        background-color: antiquewhite;
        border-radius: 50% 30% 40% 20%; 
        opacity: 0.5;
        margin-right: 50px;
    }

    .image-slider {
        grid-column: span 2;
        /* height: 300px; */
        height: 100vh;  /* let's try full viewport height for now */
        background-color: azure;
        width: 100%;
        
    }

    .double-plain {
        min-height: 250px;
        /* border-radius: 10% 30% 50% 70%; */
        /* border-radius: 50% 30% 40% 20%; */
        border-radius: 20% 30% 50% 40%;
        padding: 20px 0 0 40px;
        text-align: center;
    }

    .double-pebble {
        background-color: antiquewhite;
        min-height: 250px;
        /* border-radius: 25% 10%; */
        border-radius: 20% 30% 50% 40%;
        /* border-radius: 50% 30% 40% 20%;  */
        padding: 20px 0 0 40px;
        text-align: center;
        
    }



/* body styles - photos page */

    .grid-it-photos {
        /* doing this grid even though it's one row, just in case I change my mind */
        /* display: grid;
        grid-template-columns: 1fr; */
        display: block;
    }

    .page-top-highlight {
        background-color: linen;
        min-height: 150px;
    }

    .page-top-highlight > h1 {
        font-weight: 300;
        text-align: center;
        opacity: 70%;
    }

    .gallery-display-row {
        background-color: azure;
        padding-bottom: 10px;
    }

    .gallery-display-row > h2 {
        padding: 10px 0 20px 5px;
    }

    .gallery-display-row-alt {
        background-color: linen;
        padding-bottom: 10px;
    }

    .gallery-display-row-alt > h2 {
        padding: 10px 0 20px 5px;
        
    }

/* body styles - discover page */

    .grid-it-discover {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
}

    .page-top-highlight, .grid2 {
        grid-column: span 2;
    }


    .to-do-image-box {
        text-align: center;
        padding: 20px;

    }

    .to-do-list-box {
        background-color: aliceblue;

    }

    .to-do-image > img {
        max-height: 400px;
    }

   .to-do-links {
    padding: 30px;
   }

   .to-do-links > h2 {
    padding: 10px 0 20px 40px;
    opacity: 70%;
   }

   .to-do-list {
    display: flex;
    flex-direction: column;
    
   }



/* one small(er) screen break point to rule them all */

    @media screen and (max-width: 640px) {
        
    /* toggle and nav styling */

        .nav-toggle {
            display: block;
        }

        .nav-hide {
            display: none;
        }

        .nav-nav, li {
            margin-bottom: 5px;
        }

        .nav-main {
            margin-top: 20px;
            width: 100%;
            overflow: hidden;
        }

        .nav-main ul {
            display: block;
        }
    
        .nav-container-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 20px;
        }

        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;
        }

        .grid-it-index {
            display: block;
        }
        .grid-it-discover {
            display: block;
        }
        .grid-it-photos
        {
            display: block;
        }
    }