/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

body {
  font-family: 'Lato', sans-serif;
}

/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather { font-family: 'Merriweather', serif; }
      .oswald { font-family: 'Oswald', sans-serif; }
        .lato { font-family: 'Lato', sans-serif; }

/* Colors */
/* Dark yellow: #f2ff00 */
/* Lighter yellow: #ffd900 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

/* Background Image */
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */

/* header and navigation styling */

.headerWrapper {
  font-family: sans-serif;
}

.exerciseHeader {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 20px;
  border-bottom: 5px solid yellow;
  align-items: center;

}

.exerciseUl {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

/* start text styling for Header and top Nav */

.exerciseHeaderNav a {
  color: white;
  text-decoration: none;
}

.exerciseHeaderNav a:hover {
  color: yellow;
}

.h1HeaderTitle {
  color: yellow;
  font-family: 'Merriweather', serif;
}

.navBig {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
 
}

.navNormal {
  font-weight: lighter;
  font-size: 20px;

}

/* end text styling for Header and top Nav */

/* END header and navigation styling */

/* start the gray strip below the nav */

.belowNavtext p {
  background-color: darkgray;
  padding: 10px 10px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
}

.strikeout {
  text-decoration: line-through;
}

.underline {
  border-bottom: 3px solid #f2ff00;
}

/* end the gray strip below the nav */

/* hero element - background image and right side box */

.heroElement {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg') center center no-repeat;
  display: flex;
  background-size: cover;
  position: relative;
  min-height: 50%;
}

.heroDiv {


}

.threeAcross {
display: flex;
}

.threeAcross h2 {
  font-family: 'Merriweather', serif;
  font-size: 25px;
}

.threeBlocks {

}

/* footer start */
.site-footer {
  background-color: black;
  color: white;
  padding: 15px 25px;
}
/* footer end */

