/* cook creek main css */

    * {
        font-family: 'M PLUS 1p', sans-serif;
        margin: 0;
        line-height: 1.5;
        /* font-family: 'Quicksand', sans-serif; */
        /* box-sizing: border-box; */
    }

    .container {
        padding: 10px;  
    }

    .footer {
        min-height: 150px;
        background-color: rgb(217, 216, 216);
        grid-column:span 2;
    }

    p {
       color: rgb(64, 64, 64);
    }

    .button {
 
   
    }


    
/* header nav styling */

    .logo-container {
        margin: 0;
    }

    .logo {
        /* height: 80px; */
        width: 50%;
    }

    .header {
        /* background-color: rgb(238, 238, 231);   */
        font-weight: 400;   
        grid-column: span 2;
    }

    .nav-container {
        padding: 10px 20px 0 10px;
    }

    .nav-container, ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .nav-main, ul {
        list-style: none;
    }

    .nav-main, a, a:visited {
        text-decoration: none;
        color:rgb(111, 41, 16);
        transition: .5s ease-in-out;
        font-size: 18px;
    }

    .nav-main, a:hover {
        color: #0c0c0c;
    }

    .nav-toggle {
        display: none;
        font-size: 35px;
    }

/* body styles - home page */

    .grid-it-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .hero {
        align-items: center;
        /* background-image: url('../images/ineedahero_masked.jpg'); */
        background-image: url('../images/ineedahero.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        grid-column: span 2;
        height: 100vh;  /* let's try full viewport height for now */
    }

    .quote {
        font-family: 'Bad Script', cursive;
        font-style: italic;
        font-size: 28px;
        color: rgb(64, 64, 64);
        font-weight: 300;
    }
    
    .quote-box {
        padding: 75px 60px 60px 80px;
        width: 300px;
        background-color:rgba(250, 235, 215, 0.574);
        border-radius: 50% 30% 40% 20%; 
        margin-right: 50px;
    }


    .our-home {
        margin-top: 100px;
        margin-bottom: 80px;
        grid-column: span 2;
        margin-left: auto;
        margin-right: auto;
        max-width: 750px;
        text-align: center;
    }

    .our-home, h2 {
        color:rgb(111, 41, 16);
    }

    .double-plain {
        padding: 90px;
        text-align: center;
        height: 100vh; 
        overflow: hidden;
    }

    .double-plain-image {
        padding: 30px 30px 30px 50px;
        text-align: center;
        height: 100vh; 
        overflow: hidden;
    }

    .double-pebble {
        background-color: rgba(235, 165, 104, 0.146);
        border-radius: 20% 30% 50% 40%;
        margin: 80px 60px 20px 60px;
        /* box-sizing: border-box; */
        padding: 40px 0 0 30px;
        text-align: center; 
        height: 70vh; 
        overflow: hidden;
    }
    .slide-in-image {
      max-width: 80%;
      filter: drop-shadow(10px 16px 20px gray);
      border-radius: 3px;
    }

    .house-features {
        grid-column: span 2;
        text-align: center;
        padding-bottom: 30px;
    }
    
    .features-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 20px;
        color: rgb(64, 64, 64);
        font-size: 20px;
    }

    .icon-text {
        font-size: 15px;
        font-weight: 300;
    
    }
/* slide in fade stuff from index page - start */

    .from-left {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        
    }
    
    .from-right {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    
    .from-left,
    .from-right {
        transition: opacity .5s ease-in, transform 400ms ease-in;
        opacity: 0;
    }
    
    .from-left.appear,
    .from-right.appear {
        transform: translateX(0);
        opacity: 1;
    }


/* body styles - photos page */

    .grid-it-photos {
        display: block;
    }

    .page-top-highlight {
        background-color: linen;
        min-height: 150px;
    }

    .page-top-highlight > h1 {
        font-weight: 300;
        text-align: center;
        opacity: 70%;
    }

    .gallery-display-row {
        background-color: azure;
        padding-bottom: 10px;
    }

    .gallery-display-row > h2 {
        padding: 10px 0 20px 5px;
    }

    .gallery-display-row-alt {
        background-color: linen;
        padding-bottom: 10px;
    }

    .gallery-display-row-alt > h2 {
        padding: 10px 0 20px 5px;
        
    }

/* body styles - discover page */

    .grid-it-discover {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }


    .to-do-image-box {
        text-align: center;
        padding: 20px;
       
    }

    .to-do-list-box {
        background-color: aliceblue;
    }

    .to-do-image > img {
        max-height: 75vh; 
        /* min-height: 50vh; */
        
       
    }

   .to-do-links {
        padding: 30px 60px 50px 60px;
        text-align: center;
   }

   .to-do-links > h2 {
        padding: 10px 0 40px 40px;
        opacity: 70%;
        text-align: center;
   }

   .to-do-list {
        display: flex;
        flex-direction: column;
   }

   .to-do-list p {
    font-weight: 200;
    color: rgb(64, 64, 64);
    padding-top: 8px;

   }

   /* fade in images */

   .to-do-image {
        opacity: .10; 
        transition: opacity 1s ease-out;
  }
   
   .to-do-image.appear {
        opacity: 1;
   }

/* flickity index page */
/* external css: flickity.css */

.image-slider {
    grid-column: span 2;
    height: 100vh;  
    overflow: hidden;
    box-sizing: border-box;
}

  .carousel {
    background: #EEE;
  }
  
.carousel-cell > img {
    display: block;
    max-width: 100%; 
    height: auto;
  }

 .carousel-cell  {
    width: 66%;
    height: 500px;
    padding: 1rem;
    border-radius: 5px;
    overflow: hidden;
 }



/* let's make it pretty & responsive */

@media screen and (min-width: 1200px) {

    .carousel-cell > img  {
        display: block;
        max-width: 100%; 
        height: auto;
      }
    
     .carousel-cell  {
        width: 66%;
        height: 80vh;
        padding: 1rem;
        border-radius: 5px;
     }


}

@media screen and (max-width: 850px) {
    
    .grid-it-discover  {
        display: flex;
        flex-direction: column;  
    }

    .grid-it-discover section:nth-child(4) {
        order: 3;  
    }

    .grid-it-discover section:nth-child(3) { 
        order: 4; 
    }

    .nav-container-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 20px;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        /* align-items: flex-start; */
        gap: 20px;
    }

    .grid-it-index {
        display: block;
    }

    .our-home {
        max-width: 600px;
    }

}

    @media screen and (max-width: 755px) {
      
        .nav-toggle {
            display: block;
        }

        .nav-hide {
            display: none;
        }

        .nav-nav, li {
            margin-bottom: 5px;
        }

        .nav-main {
            margin-top: 20px;
            width: 100%;
            overflow: hidden;
        }

        .nav-main ul {
            display: block;
        }
    
        .nav-container-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 20px;
        }

        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;
        }  

        .our-home {
            max-width: 500px;
        } 
        
        .flickity-page-dots {
            display: none;
            /* padding: 0; */
        }

        .image-slider {
            grid-column: span 2;
            height: 400px;  
            overflow: hidden;
            box-sizing: border-box;
}


    }
   
    @media screen and (max-width: 640px) {
        
        /* toggle and nav styling */
    
            .nav-toggle {
                display: block;
            }
    
            .nav-hide {
                display: none;
            }
    
            .nav-nav, li {
                margin-bottom: 5px;
            }
    
            .nav-main {
                margin-top: 20px;
                width: 100%;
                overflow: hidden;
            }
    
            .nav-main ul {
                display: block;
            }
        
            .nav-container-right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-bottom: 20px;
            }
    
            .nav-container {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 20px;
            }

            .quote-box {
                margin-right: 40px;
                margin-left: 40px;
                margin-top: 150px;
                width: 220px;
                padding: 50px 20px 30px 50px;
                background-color:rgba(250, 235, 215, 0.784);
            }

            .quote {
                font-size: 25px;
                color: rgb(64, 64, 64);
                font-weight: 300;
            }
            
            .grid-it-index {
                display: block;
            }
    
            .grid-it-discover  {
                display: flex;
                flex-direction: column;  
            }
    
            .grid-it-discover section:nth-child(4) {
                order: 3;  
            }
    
            .grid-it-discover section:nth-child(3) { 
                order: 4; 
            }
    
            .grid-it-photos
            {
                display: block;
            }
    
            .image-slider {
                height: 450px; 
            }

            .carousel-cell img {
                height: 300px;
              }

            .flickity-page-dots {
                display: none;
            }
    
            .our-home {
                max-width: 350px;
            }
         
        }
    