
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.exerciseMainFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.exerciseMainFeatures .exerciseMarketingFeature {


}


.exerciseMainFeatures .exerciseMarketingFeature:first-child {

}

.exerciseAdditionalFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 300px;
    gap: 10px;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature {


}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}