/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather { font-family: 'Merriweather', serif; }
      .oswald { font-family: 'Oswald', sans-serif; }
        .lato { font-family: 'Lato', sans-serif; }

/* Colors */
/* Dark yellow: #f2ff00 */
/* Lighter yellow: #ffd900 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

/* Background Image */
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */

/* header and navigation styling */

.headerWrapper {
  font-family: sans-serif;
}

.exerciseHeader {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 40px;
  border-bottom: 5px solid yellow;
  align-items: center;
}

.exerciseUl {
  list-style-type: none;
  display: flex;
  gap: 20px;
  
}

/* start text styling for Header and top Nav */

.exerciseHeaderNav a {
  color: white;
  text-decoration: none;
}

.exerciseHeaderNav a:hover {
  color: yellow;
}
.h1HeaderTitle {
  color: yellow;
}

.navBig {
  text-transform: uppercase;
}

.navNormal {
  font-weight: lighter;
}

/* end text styling for Header and top Nav */

/* END header and navigation styling */
