
/* Page background should be #F6F6F6 */
/* Set the page's font-size to 18px and set the line height to 1.5 */
/* Put 5px solid borders at the top and bottom of the page and use the color #222222 */

body {
    background-color: #F6F6F6;
    font-size: 18px;
    line-height: 1.5;
    font-family: sans-serif;
    border-top: 5px solid #222222;
    border-bottom: 5px solid #222222;
    margin: 0;
}

header {
    padding: 0 50px;
}

h1 {
    text-transform: uppercase;
}

header nav a {
    text-decoration: none;
    color:rgb(233, 104, 57);
   
}

article {
    padding: 0 50px;
}

/* Float the Via Dynasty image to the right and give it a little margin on the left */

article img {
    float: right;
    margin-left: 20px;
}

/* Make the paragraph text the font "Georgia" and use a font stack. (Google "Georgia font stack css.") */
/* Make the text the color #05080C */

p {
    color: #05080C;
    font-family:  Georgia, Times, "Times New Roman", serif;
}

/* Give the table header cells (`th`) a background color of #222222 */

th {
    background-color: #222222;
    color: #eeeeee;
    padding: 15px;
}

/* Give the table cells (`td`) a background color of #eeeeee */

td {
    background-color: #eeeeee; 
    padding: 15px;
}

ul.references {
    font-weight: 400;
    font-size: 15px;
}