/* ### Colors
Green: #20c063 / RGBA(32,192,99,1)
Gray: #e8e9ea  / RGBA (232,233,234,1)
Dark Text: #3b4144 / RGBA (59,65,68,1) */

body {
  font-family: 'Lato', sans-serif;
}

/* START top nav styling */

.header_nav {
display: flex;
justify-content: space-between;
background-color: #20c063;
padding: 5px;
height: 30px; 
}

.header_nav a {
text-decoration: none;
color: white;
} 

.header_nav a:visited {
  text-decoration: none;
  color: white;
}

.header_nav ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 3px;
  margin: 0;
  font-size: 14px;
}

.header_nav li {
list-style-type: none;
padding: 3px 10px 0 10px;
display:inline-block;
vertical-align: top;
margin: 0;
font-size: 14px;
}

.nav_left, .nav_right {
display: flex;
justify-content: flex-start;
}

.logo {
height: 25px;
width: 78px;
padding: 2px 5px 0 10px;
}

.circle_link {
border: 2px solid white;
border-radius: 22px;
display: inline-block;
text-align: center;
text-transform: uppercase;
height: 20px;
width: 22px;
padding-top: 2px;
margin-right: 3px;
}

/* END top nav styling and START breadcrumb */


.breadcrumb_container {
  display: flex;
  align-items: center;
  gap: 20px;
  /* height: 70px; */
  padding: 25px 0 0 30px;

}

.breadcrumb_container h1 {
  font-size: 14px;
  font-weight: bold;
}

.breadcrumb_container p {
  font-size: 14px;
}

/* END breadcrumb and START main grid */

.trulia_grid {
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 15px;
background-color: #e8e9ea;
padding: 15px;
}

.grid_item {
display: flex;
flex-direction: column;
background-color: white;
border-radius: 5px;
/* height: 260px; */
}

.house_image {
background-size: cover;
width: 100%;
height: 160px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
background-position: center;
position: relative;
}

.house_facts > ul, li {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px 0px 0px 10px;
margin: 0 0 5px 0;
list-style-type: none;
}

.icon_area li {
  padding-left: 0;
  padding-right: 5pxS;
}

ul {
  padding: 0;
  margin-top: 2px;
}

.house_price h1 {
font-size: 16px;
font-weight: bold;
line-height: 1px;
margin: 8px 0 1px 0;
padding: 5px 0 5px 0;
}

.house_stats {
font-size: 14px;
margin-bottom: 2px;
}

.house_stats ul {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-top: 0px;
}

.trulia-house-beds {
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 2px;
}

.trulia-house-baths {
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 2px;
}

.house_address {
  color:rgb(107, 105, 105);
  font-style: normal;
  font-size: 14px;
}

.trulia-article-icon {
height: 15px;
}

.house_sqft {
  margin-bottom: 2px;
  padding: 0;
  align-self: flex-end;
}


/* START grid images */

.house_image1 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg);
}
.house_image2 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-2.jpg);
}
.house_image3 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-3.jpg);
}
.house_image4 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-4.jpg);
}
.house_image5 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-5.jpg);
}
.house_image6 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-6.jpg);
}
.house_image7 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-7.jpg);
}
.house_image8 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-8.jpg);
}
.house_image9 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-09.jpg);
}
.house_image10 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-10.jpg);
}
.house_image11 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-11.jpg);
}
.house_image12 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-12.jpg);
}
/* END grid images */

.results_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  min-height: 150px;
}

.results_pages {
  display: flex;
  gap: 5px; 
  margin: 5px 0 0 0;
  padding: 0px;
}

a.results_item {
  color: #20c063;
  text-decoration: none;
}

.results_breadcrumb {
  display: flex;
  gap: 5px; 
  margin: 5px;
  padding: 0px;
}

.results_amount {
  color:rgb(107, 105, 105);
  margin: 5px;
  padding: 0px;
}

/* END main grid and START result insights section  */

.result_insights {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 25px;
  width: 90%;
}

.result_insights h2 {
  font-size: 22px;
  font-weight: bold;
}

.result_insights a {
  color: #20c063;
  text-decoration: none;
}

.result_insights a:visited {
  color: #20c063;
  text-decoration: none;
}
.result_insights > p {
  font-size: 14px;
  margin-top: 0;
}

/* END result insights section START footer styles */


.site_footer {
  margin-top: 30px;;
  background-color: #3b4144;
  height: 90px;
  padding-bottom: 10px;
}
 
.footer_nav {
  padding: 20px 5px 5px 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.footer_nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  } 

.copyright {
  font-size: 10px;
  color: lightgray;
  text-align: center;
}